/build/
/out/
/CMakePresets.json
document/
Engine/include/*
!Engine/include/scivibe.h
!Engine/include/objet/
!Engine/include/log/
!/Engine/include/objet/**

.agents
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
Engine/Librairies

Engine/src/scivibe.cpp
